---
http_interactions:
- request:
    method: get
    uri: https://api.data.gov/nrel/alt-fuel-stations/v1.json?api_key=ttRf0e4JymfK05atNs8xiHEzc7QAHUzigZKTvAYF&fuel=LPG&limit=10&location=80203&private=false&radius_miles=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '959'
      Last-Modified:
      - Mon, 06 Jun 2016 16:20:46 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":25974,"station_counts":{"total":49017,"fuels":{"E85":{"total":3156},"ELEC":{"total":39288,"stations":{"total":16245}},"HY":{"total":93},"LNG":{"total":190},"BD":{"total":687},"CNG":{"total":1838},"LPG":{"total":3765}}},"fuel_stations":[{"access_days_time":"8am-5pm
        M-F; call station to make arrangements","cards_accepted":"Cash Checks A D
        M V","date_last_confirmed":"2016-04-04","expected_date":null,"fuel_type_code":"LPG","id":13392,"groups_with_access_code":"Public
        - Call ahead","open_date":"2015-03-27","owner_type_code":"P","status_code":"E","station_name":"Suburban
        Propane","station_phone":"518-489-3271","updated_at":"2016-04-04T18:11:07Z","geocode_status":"200-8","latitude":42.6972742,"longitude":-73.82593,"city":"Albany","intersection_directions":"Close
        to NY Northway 87","plus4":null,"state":"NY","street_address":"76 Railroad
        Ave","zip":"12205","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":false,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null},{"access_days_time":"8am-5pm
        M-F","cards_accepted":"Cash M V","date_last_confirmed":"2015-08-04","expected_date":null,"fuel_type_code":"LPG","id":22392,"groups_with_access_code":"Public","open_date":null,"owner_type_code":"P","status_code":"E","station_name":"Greenville
        Automatic Gas Co","station_phone":"903-455-4546","updated_at":"2016-04-08T13:07:19Z","geocode_status":"200-8","latitude":33.1397067,"longitude":-96.0731216,"city":"Greenville","intersection_directions":"IH-3[...]
